h1{
    color:#808000;
    text-align:center;
    background-color:#cbffd3;
}

body{
     background-image:url(../images1/04.jpg);
}

h2{
    color:#6666ff;
    text-align:center;
    background-color:#cccccc;
}

h4{
    color:#ff82b2;
}

p{
    color:#f4a460;
}